<a href="https://colab.research.google.com/github/nachopodesta/350-Exercises-Python-Programming/blob/main/350%2B_Exercises_Python_Programming_Mega_Pack_OOP_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys

In [ ]:
print(sys.version.split()[0])

3.7.13

In [ ]:
age = 20
print(f'I am {age} years old.')

I am 20 years old.

In [ ]:
leng = 'Python'
ver = '3.8'

print(f'I am learning {leng} version {ver}')

I am learning Python version 3.8

In [ ]:
price = 199.99
print('This costs', price)

This costs 199.99

In [ ]:
price = 69.99
print(f'This costs {price}')

This costs 69.99

In [ ]:
price = float(34.99)
weight = int(20)

print(f'Price: ${price}. Weight: {weight} lbs.')

Price: $34.99. Weight: 20 lbs.

In [ ]:
pi = 3.1415926535
print(f'Pi: {pi:.2f}')

Pi: 3.14

In [ ]:
print('----------------------------------------\nVERSION: 1.0.1\n----------------------------------------')

----------------------------------------
VERSION: 1.0.1
----------------------------------------

In [ ]:
print('-'*40)
print('VERSION: 1.0.1')
print('-'*40)

----------------------------------------
VERSION: 1.0.1
----------------------------------------

In [ ]:
print('='*40)
print('author: johnsmith@sample.com')
print('date: 01-01-2021')
print('='*40)

========================================
author: johnsmith@sample.com
date: 01-01-2021
========================================

In [ ]:
print('summer', 'time', 'holiday', sep='#')

summer#time#holiday

# Section 5: Calculations in Python

In [ ]:
r = 5
pi = 3.14
area = pi*r**2

print(f'Area: {area:.1f}')

Area: 78.5

In [ ]:
#((P*(1+i)^n) - P)

pv = 1000
r = 0.03
n = 5

fv = pv * (1+r) ** n

print(f'The future value of the investement: {fv:.2f} USD')

The future value of the investement: 1159.27 USD

In [ ]:
#3x2 - 4x + 1 = 0

a = 3
b = -4
c = 1
delta = b ** 2 - 4 * a * c
print(f'Delta: {delta}')

Delta: 4

In [ ]:
a1 = 14
a10 = 50
n = 10
s10 = ((a1 + a10) / 2) * n
print(f'The sum of the first 10 elements in a sequence: {s10}')

The sum of the first 10 elements in a sequence: 320.0

In [ ]:
a1 = 8
a2 = 8 * 2
n = 6
q = a2/a1
s6 = a1 * ((1-q**n)/(1-q))

print(f'The sum of the first {n} elements of the sequence is: {s6}')

The sum of the first 6 elements of the sequence is: 504.0

In [ ]:
a = 1
b = 5
c = 4
sum = -b / a
product = c / a
print(f'x1 + x2 = {sum}\nx1x2 = {product}')

x1 + x2 = -5.0
x1x2 = 4.0

In [ ]:
a1 = 2
a2 = 4
b1 = -4
b2 = 6
s1 = (a1 + b1) / 2
s2 = (a2 + b2) / 2
print(f'The middle point: ({s1}, {s2})')

The middle point: (-1.0, 5.0)

In [ ]:
a1 = 3
a2 = 2
b1 = -1
b2 = -1
distance = ((b1 - a1) ** 2 + (b2 - a2) ** 2)**(1/2)
print(f'The distance between points A and B: {distance}')

The distance between points A and B: 5.0

In [ ]:
a = 1
b = 5
c = 4
delta = b ** 2 - 4 * a * c
delta_sqrt = delta ** (1/2)
x1 = (-b - delta_sqrt) / (2 * a)
x2 = (-b + delta_sqrt) / (2 * a)
print(f'x1 = {x1}')
print(f'x2 = {x2}')

x1 = -4.0
x2 = -1.0

In [ ]:
x1, x2, x3, x4 = 4, 3, 4.5, 5
geo = (x1 * x2 * x3 * x4)**(1/4)
print(f'Geometric average of the given numbers: {geo:.2f}')

Geometric average of the given numbers: 4.05

In [ ]:
a1 = 1
a2 = 1/2
q = a2 / a1
S = a1 / (1 - q)
print(f'The sum of the sequence: {S}')

The sum of the sequence: 2.0

In [ ]:
x1, x2, x3 = 10, 11, 9
mean = (x1 + x2 + x3) / 3.0
var = ((x1 - mean)**2 + (x2 - mean)**2 + (x3 - mean)**2) / 3.0
std = var**(1/2)
print(f'The standard deviation: {std:.2f}')

The standard deviation: 0.82

# Section 6: Slicing

In [ ]:
filename = 'view.jpg'
print(filename[-3:])

jpg

In [ ]:
filename = 'view.jpg'
print(filename[5:])

jpg

In [ ]:
string = 'PKV-89415-PLN'
code = string[:3] + string[-3:]
print(code)

PKVPLN

In [ ]:
string = '1 0 0 1 0 1'
binary = string[::2]
number = int(binary,2)
print(f'Number found: {number}')

Number found: 37

In [ ]:
text = 'Python Course'
print(text[::-1])

esruoC nohtyP

# Section 7: Data Types

In [ ]:
var1 = ''
var2 = ' '
var3 = '\n'

print(type(var1))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
var1 = None
var2 = False
var3 = 'True'

print(type(var1))
print(type(var2))
print(type(var3))

<class 'NoneType'>
<class 'bool'>
<class 'str'>

In [ ]:
flag = False
print(type(flag))

<class 'bool'>

In [ ]:
flag = False
print(isinstance(flag, bool))

True

# Seccion 8: Strings

In [ ]:
text = 'python is a popular programming language.'
print(text.capitalize())

Python is a popular programming language.

In [ ]:
text = 'python is a popular programming language.'
print(f"Number of occurrences: {text.count('p')}")

Number of occurrences: 4

In [ ]:
code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'

print(f"code1: {code1.endswith('2020')}")
print(f"code2: {code2.endswith('2020')}")

code1: True
code2: False

In [ ]:
path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'
print(f"path1: {path1.startswith('youtube')}")
print(f"path2: {path2.startswith('youtube')}")

path1: True
path2: False

In [ ]:
path1 = (
    'https://e-smartdata.teachable.com/p/'
    'sciezka-data-scientist-machine-learning-engineer'
)
path2 = (
    'https://e-smartdata.teachable.com/p/'
    'sciezka-data-scientist-deep-learning-engineer'
)
path3 = (
    'https://e-smartdata.teachable.com/p/'
    'sciezka-bi-analyst-data-analyst'
)
print(f"path1: {path1.find('scientist')}")
print(f"path2: {path2.find('scientist')}")
print(f"path3: {path3.find('scientist')}")

path1: 49
path2: 49
path3: -1

In [ ]:
code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'
print(f'code1: {code1.isalnum()}')
print(f'code2: {code2.isalnum()}')

code1: False
code2: True

In [ ]:
text = 'Google Colab'
print(text.lower())

google colab

In [ ]:
text = 'Google Colab'
print(text.upper())

GOOGLE COLAB

In [ ]:
text = '  Google Colab     '
print(text.strip())

Google Colab

In [ ]:
code = 'FVNISJND-XX'
print(code.replace('-', ' '))

FVNISJND XX

In [ ]:
text = '340-23-245-235'
print(text.replace('-',''))

34023245235

In [1]:
text = 'Open,High,Low,Close'
print(text.split(","))

['Open', 'High', 'Low', 'Close']

In [4]:
text = """Python is a general-purpose language.
Python is popular."""
print(text.splitlines())

['Python is a general-purpose language.', 'Python is popular.']

In [5]:
num = 34
print(str(num).zfill(6))

000034

In [9]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'

name = url.split('/')[-1]
name = name.replace('-',' ')
print(name)

sciezka data scientist machine learning engineer

# Section 9 Data Structures

# Section 10 Sets

In [10]:
subjects = {'mathematics', 'biology'}
subjects.add('english')
print(subjects)

{'english', 'mathematics', 'biology'}

The following text is given:



text = 'Programming in python.'


Follow the next steps:

Change all letters to lowercase.

Delete spaces and period.

Create a set consisting of all letters in the text and assign to letters variable

Using the appropriate method for sets, remove all vowels from letters set:



vowels = {'a', 'e', 'i', 'o', 'u'}
  

      5. Print the number of items in the letters set as shown below.



Expected result:



Number of items: 8

In [21]:
text = 'Programming in python.'

text = text.lower()
text = text.replace(' ', '')
text = text.replace('.', '')
vowels = {'a', 'e', 'i', 'o', 'u'}
letters = set(text)

consonants = letters.difference(vowels)

print(f'Number of items: {len(consonants)}')

Number of items: 8

In mathematics, the symmetric difference of two sets is the set of elements which are in either of the sets, but not in their intersection.

Two following sets are given:



A = {2, 4, 6, 8}
B = {4, 10}


Using the appropriate method, extract the symmetrical difference of sets A and B and print the result to the console as shown below.



Expected result:



Symmetric difference: {2, 6, 8, 10}

In [22]:
A = {2, 4, 6, 8}
B = {4, 10}
sym_diff = A.symmetric_difference(B)
print(f'Symmetric difference: {sym_diff}')

Symmetric difference: {2, 6, 8, 10}

We have two sets of customer IDs:



ad1_id = {'001', '002', '003'}
ad2_id = {'002', '003', '007'}


Each set stores the id of the customers who made the purchase based on the specific ad. We have two ads. Each customer can use the offer only twice in campaign. Choose the ID of the customers to whom you can send another ad (or ids that only appeared once in both sets).



Expected result:



Selected ID: { '007', '001'}


Note: Remember that the set is an unordered data structure. You may get a different order of items than the expected result. You don't have to worry about it.

In [23]:
ad1_id = {'001', '002', '003'}
ad2_id = {'002', '003', '007'}
result = ad1_id.symmetric_difference(ad2_id)
print(f'Selected ID: {result}')

Selected ID: {'007', '001'}

Two customer ID sets are given. The first one tells you whether a person clicked on the banner ad. Second, whether the person purchased the product:



is_clicked = {'9001', '9002', '9005'}
is_bought = {'9002', '9004', '9005'}


Return the ID of those customers who clicked on the ad and bought the product.



Expected result:



Customer ID: { '9002', '9005'}


Note: Remember that the set is an unordered data structure. You may get a different order of items than the expected result. You don't have to worry about it.

In [24]:
is_clicked = {'9001', '9002', '9005'}
is_bought = {'9002', '9004', '9005'}
id = is_clicked.intersection(is_bought)
print(f'Customer ID: {id}')

Customer ID: {'9002', '9005'}

# Section 11 Tuples

Two following tuples are given:



dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')


Combine these tuples into one as shown below and print the result to the console.



Expected result:



('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

In [25]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')

dji3 = dji1 + dji2
print(dji3)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

The following tuples are given:



dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')


Nest these tuples into one tuple as shown below and print the result to the console.



Expected result:



(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [26]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')

dji3 = (dji1, dji2)
print(dji3)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

Tuples are immutable. The following tuple is given:



members = (('Kate', 23), ('Tom', 19))


Insert a tuple ('John', 26) between Kate and Tom as shown below. Print the result to the console.



Tip: You have to create a new tuple.



Expected result:



(('Kate', 23), ('John', 26), ('Tom', 19))

In [27]:
members = (('Kate', 23), ('Tom', 19))
members = (members[0], ('John',26), members[1])
print(members)

(('Kate', 23), ('John', 26), ('Tom', 19))

The following tuple is given:



default = ('YES', 'NO', 'NO', 'YES', 'NO')


Using the appropriate method return the number of occurrences of the string 'YES' and print the result to the console as shown below.



Expected result:



Number of occurrences: 2

In [35]:
default = ('YES', 'NO', 'NO', 'YES', 'NO')
print(f"Number of occurrences: {default.count('YES')}")

Number of occurrences: 2

Sort the given tuple (from A to Z):



names = ('Monica', 'Tom', 'John', 'Michael')


Print the sorted tuple to the console as shown below.



Expected result:



('John', 'Michael', 'Monica', 'Tom')

In [40]:
names = ('Monica', 'Tom', 'John', 'Michael')
sorted = tuple(sorted(names))
print(sorted)

('John', 'Michael', 'Monica', 'Tom')

To the given list:



cities = ['Los Angeles', 'New York', 'Chicago']


append the city: 'Houston' and print the list to the console.



Expected result:



['Los Angeles', 'New York', 'Chicago', 'Houston']

In [49]:
cities = ['Los Angeles', 'New York', 'Chicago']
cities.append('Houston')
print(cities)

['Los Angeles', 'New York', 'Chicago', 'Houston']

The following list is given:



idx = ['001', '002', '001', '003', '001']


Using the appropriate method count the occurrences of '001'. Print the result to the console as shown below.



Expected result:



Number of occurrences: 3

In [53]:
idx = ['001', '002', '001', '003', '001']
print(f"Number of occurrences: {idx.count('001')}")

Number of occurrences: 3

The following text is given:



text = 'Python programming'


Standardize the text (replace uppercase letters with lowercase). Then create a list of unique characters in the text. Remove the space from this list and sort from a to z. After all print the list to the console.



Tip: You can use a set to generate unique characters.



Expected result:



['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [56]:
text = 'Python programming'
text = text.lower()
characters = list(set(text))
characters.remove(' ')
characters.sort()
print(characters)

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

The following list is given:



filenames = ['view.jpg', 'bear.jpg', 'ball.png']


Add the file 'phone.jpg' to this list at the beginning. Then delete the file 'ball.png'. In response, print the filenames list to the console.



Expected result:



['phone.jpg', 'view.jpg', 'bear.jpg']

In [2]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0, 'phone.jpg')
filenames.remove('ball.png')
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

The following list represents order ids for a given day:



day1 = ['3984', '9042', '4829', '2380']


Using the appropriate method, extend this list to the next day:



day2 = ['4231', '5234', '1345', '2455']


Print the result to the console.



Expected result:



['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

In [5]:
day1 = ['3984', '9042', '4829', '2380']
day2 = ['4231', '5234', '1345', '2455']
day1.extend(day2)
print(day1)

['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

The following tuple is given:



techs = ('python', 'java', 'sql', 'aws')


Sort this tuple from a to z and print it to the console.



Tip: Tuples are immutable. You have to create a new one.



Expected result:



('aws', 'java', 'python', 'sql')

In [6]:
techs = ('python', 'java', 'sql', 'aws')
techssorted = tuple(sorted(techs))
print(techssorted)

('aws', 'java', 'python', 'sql')

The following list is given:



hashtags = ['summer', 'time', 'vibes']


Using the appropriate method, combine the elements of the list with the '#' character. Also add this sign to the beginning of the text and print the result to the console as shown below.



Expected result:



'#summer#time#vibes'

In [9]:
hashtags = ['summer', 'time', 'vibes']
print('#', '#'.join(hashtags))

# summer#time#vibes

Create a dictionary from the following pairs (key, value):



'USA': 'Washington'
'Germany': 'Berlin'
'Austria': 'Vienna'


and print it to the console.



Expected result:



{'USA': 'Washington', 'Germany': 'Berlin', 'Austria': 'Vienna'}

In [10]:
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
    }
print(capitals)

{'USA': 'Washington', 'Germany': 'Berlin', 'Austria': 'Vienna'}

The following dictionary is given:



capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}


Use the appropriate method to extract all keys from the capitals dictionary and print to the console.



Expected result:



dict_keys(['USA', 'Germany', 'Austria'])

In [13]:
print(capitals.keys())

dict_keys(['USA', 'Germany', 'Austria'])